@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: white; /* Background color */
    --color-primary: #080326; /* Primary text color, use https://colorhunt.co to change theme */
    --color-secondary: #f93838; /* Secondary text color */
    --color-accent: black; /* Text color for links */
    --color-block: #474747b2; /*  Background color for blocks */
    --color-middle-secondary: #FB9A45; /* middle of secondary and dark secondary according to https://meyerweb.com/eric/tools/color-blend/#F93838:FDFB52:1:hex */
    --font-display: "Roboto", "Arial", sans-serif; 
}

@layer theme {
  :root, :host {
    @variant dark {
        --color-background: #080326; /* Background color */
        --color-primary: white; /* Primary text color, use https://colorhunt.co to change theme */
        --color-secondary: #FDFB52; /* Secondary text color */
        --color-accent: white; /* Text color for links */
        --color-block: #2c2c2c;
    }
  }
}

@layer base {
  a {
    @apply md:text-accent text-accent hover:text-secondary;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .stroke-text {
    color: var(--color-background);
    filter: drop-shadow(-2px 0 0 var(--color-secondary))
            drop-shadow(2px 0 0 var(--color-secondary))
            drop-shadow(0 -2px 0 var(--color-secondary))
            drop-shadow(0 2px 0 var(--color-secondary));
  }

  .light-stroke-text {
    color: var(--color-secondary);
    filter: drop-shadow(-1px 0 0 black)
            drop-shadow(1px 0 0 black)
            drop-shadow(0 -1px 0 black)
            drop-shadow(0 1px 0 black);
  }

  /* Cursor */
  .cursor{
      position: relative;
      width: 24em;
      margin: 0 0 auto;
      border-right: 2px solid;
      font-size: 30px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  /* Animation */
  .typewriter-animation {
    animation: 
      typewriter 3s steps(50) 1s 1 normal both, 
      blinkingCursor 500ms steps(50) normal infinite;
  }
  @keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
  }
  @keyframes blinkingCursor{
    from { border-right-opacity: rgba(0, 0, 0, 0.75); }
    to { border-right-color: transparent; }
  }
}