@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: white; /* Background color */
    --color-primary: #080326; /* Primary text color, use https://colorhunt.co to change theme */
    --color-secondary: #f93838; /* Secondary text color */
    --color-accent: black; /* Text color for links */
    --color-block: #474747b2; /*  Background color for blocks */
    --font-display: "Roboto", "Arial", sans-serif; 
}

@layer theme {
  :root, :host {
    @variant dark {
        --color-background: #080326; /* Background color */
        --color-primary: white; /* Primary text color, use https://colorhunt.co to change theme */
        --color-secondary: #FDFB52; /* Secondary text color */
        --color-accent: white; /* Text color for links */
        --color-block: #2c2c2c;
    }
  }
}

@layer base {
  a {
    @apply md:text-accent text-accent hover:text-secondary;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .stroke-text {
    color: var(--color-background);
    filter: drop-shadow(-2px 0 0 var(--color-secondary))
            drop-shadow(2px 0 0 var(--color-secondary))
            drop-shadow(0 -2px 0 var(--color-secondary))
            drop-shadow(0 2px 0 var(--color-secondary));
  }

  .light-stroke-text {
    color: var(--color-secondary);
    filter: drop-shadow(-1px 0 0 black)
            drop-shadow(1px 0 0 black)
            drop-shadow(0 -1px 0 black)
            drop-shadow(0 1px 0 black);
  }

}

